/* this is main css for all pages */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* QucikSand*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@400&display=swap");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
/*Overpass*/
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap");
/* Outfit font  */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
/* Spline Sans font  */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Spline+Sans:wght@300&display=swap");

:root {
  --bgcolorone: #00173b;
  --bgcolortrwo: #16223d;
  --bgcolorthree: #00347e;
  --linear1: linear-gradient(90.09deg, #0e76ff 32.65%, #5ae6ff 79.29%);
  --textgrey: #b4bec8;
  --textlight: #3c4650;
  --lightblue: #007fff;
  --lightbluebg: #75baff;
  --lightbluetwo: #7bafe3;
  --formbgcolor: #0a1733;
  --formtextcolor: #94c9ff;
  --groupheader: #112a46;

  --overpass: "Overpass", sans-serif;
  --lato: "Lato", sans-serif;
}

.wholeContainer {
  width: 90%;
}

.quicksans {
  font-family: "Quicksand", sans-serif, "Outfit";
}

.navs {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(88, 227, 255, 1) 100%
  );
  /* height: 110px; */
}

.navbarTitle {
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
  /* margin-left: 1rem; */
}

.navbarTitle:hover {
  color: var(--lightblue);
  transition: 0.5s;
}

@media (max-width: 900px) {
  .navbarTitle {
    font-size: 1rem;
    /* margin-left: 1rem; */
  }
}

.aboutusContainer {
  margin: 4rem 1rem;
}

/* Start Hero Banner Section */
.sectionTitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--groupheader);
  font-family: var(--lato);
  font-size: 36px;
  font-weight: thin;
  /* font-style: normal; */
  line-height: normal;
  letter-spacing: 0.05em;
}

.blues {
  background: var(--linear1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.normalText {
  color: #3c4650;
  font-family: var(--outfit);
  font-size: 18px;

  text-align: justify;
  margin-bottom: 1rem;
}

.webs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createbtn {
  margin: 2rem 0rem;
  padding: 1rem 2rem;
  background: var(--linear1);

  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;

  box-shadow: none;
  border: none;
  border-radius: 30px;

  position: relative;

  /* overflow: hidden; */

  z-index: 100;
  /* padding: 10px; */
}

.createbtn:hover {
  background: var(--bgcolortrwo);
  color: transparent;
}

.createbtn:hover::before {
  content: "Contact Us";
  width: 150px;
  height: 100px;
  background: var(--linear1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  position: absolute;
  top: 25%;
  left: 5%;

  z-index: 0;
}

.createbtn:active {
  background: #fff;
  color: transparent;
  border: 1px solid var(--bgcolortrwo);
}

.createbtn:active:before {
  content: "Contact Us";
  width: 150px;
  height: 100px;
  background: var(--linear1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  position: absolute;
  top: 25%;
  left: 5%;

  z-index: 0;
}

@media (max-width: 770px) {
  .sectionTitle {
    font-size: 20px;
    /* background: red; */
  }

  .normalText {
    color: #3c4650;
    font-size: 15px;
  }

  .createbtn {
    font-size: 15px;
  }
}

/* End Hero Banner Section */

/* Start How We Build Section */
.lightblues {
  color: var(--lightblue);
  font-size: 36px;
  font-weight: bold;
}

.copyright {
  color: #000;
  font-family: "Quicksand", "Outline", "Roboto";
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.treeContainer {
  position: relative;
  width: 1100px;
}

.groupContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5px;
}

.groupheader {
  color: var(--groupheader);
  font-size: 20px;
  font-family: var(--lato);
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grouptext {
  text-align: justify;
  font-size: 15px;
}

.larges {
  display: flex;
  font-size: 1rem;
}

.middles {
  display: none;
}

.smalls {
  display: none;
}

@media (max-width: 1100px) {
  .larges {
    display: none;
  }

  .middles {
    display: block;
  }

  .smalls {
    display: none;
  }

  .treeContainer {
    width: 800px;
    /* background-color: blue; */
  }
}

@media (max-width: 900px) {
  .middles {
    display: none;
  }

  .smalls {
    display: block;
  }

  .treeContainer {
    width: 300px;
    /* background-color: #007fff; */
  }

  .boxs {
    width: 90px;
    height: 355px;
    border: 3px dotted black;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 200px;
    top: 55px;
    border-left: none;
  }

  .boxs:nth-child(1) {
    top: 760px;
  }

  .boxs:nth-child(2) {
    top: 408px;
    left: 8px;
    border-left: 3px dotted black;
    border-right: none;
    border-radius: 10px 0 0 10px;
  }

  .boxs:nth-child(3) {
    top: 1113px;
    left: 8px;
    border-left: 3px dotted black;
    border-right: none;
    border-radius: 10px 0 0 10px;
  }

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 8px solid #000;
    border-left: 0;
    position: absolute;
    top: 345px;
    left: -2px;
  }

  .triangles {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid #000;
    border-right: 0;
    position: absolute;
    top: 345px;
    left: 85px;
  }
}

/* End How We Build The Section */

/* Start Create Solution with Us Section  */

/* End Create Solution with Us Section  */

/* Start Contact Us section  */

/* End Contact Us section  */

.textcolor {
  color: skyblue;
  border-bottom: 3px solid rgb(48, 50, 161);
}

.texts {
  color: rgb(172, 170, 170);

  font-size: 18px;
  font-family: "Lato", sans-serif;
  word-spacing: 0.05em;
}

.texts1 {
  /* color: rgb(172, 170, 170); */
  color: #222;

  font-size: 18px;
  font-family: "Lato", sans-serif;
  word-spacing: 0.05em;
}

/* :start footer section css */
.phoneBtn {
  border-radius: 25px !important;
  /* width: 200px; */
  /* height: 50px; */
  background: var(--bgcolortrwo);
  color: #fff;
}

.phoneBtn:hover {
  background: var(--linear1);
  color: #fff;
}

.footers {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(88, 227, 255, 1) 100%
  );
  color: #000;
}

.footertitle {
  font-family: "Outline", Roboto;
  color: var(--textlight);
  font-size: 23px;
}

.footerAboutus {
  color: var(--textlight);
  font-family: "Outline";
  font-size: 24px;
  margin-left: 30px;
}

.footerText {
  font-size: 16px;
  /* color: var(--textlight); */
  padding: 0;

  display: block;
  padding-bottom: 7px;
  font-weight: bold;

  cursor: pointer;
}

.footerlogo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

/* end Footer section */

.frees {
  background-color: var(--bgcolortrwo);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.freesheader {
  color: var(--lightbluebg);
  font-size: 50px;
}

.freetext {
  color: var(--textgrey);
  font-size: 15px;
  text-align: center;
}

.calendertext {
  color: var(--textlight);
  font-family: "Lato", sans-serif;

  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.cleanderBg {
  background-color: var(--lightbluetwo);
  border-radius: 20px;
  overflow: hidden;
}

.cleanderBg p {
  color: var(--textblue);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
}

.datePicker,
.vc-title,
.vc-arrow {
  background-color: var(--bgcolorthree);
}

.formContainer {
  background-color: var(--bgcolorthree);
  border-radius: 20px;
  margin-top: 50px;
}

.formheader {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.formheader span {
  color: var(--lightbluetwo);
}

.texts {
  background-color: #fff;
  border: none;
  margin: 30px 0;
  height: 50px;
}

.texts::placeholder {
  color: var(--formtextcolor);
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.texts:focus {
  background-color: var(--formbgcolor);
  color: var(--formtextcolor);
}

.radioContainer {
  background-color: var(--formbgcolor);
  padding: 20px 15px;
  border-radius: 7px;
}

.radioheader {
  color: var(--formtextcolor);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.radioLabels {
  color: #000;
}

.form-check-input {
  background-color: var(--formtextcolor);
}

.form-check-label {
  color: #fff;
  font-family: "Lato";
}

.textareas {
  background-color: var(--formbgcolor);
  padding: 20px 0;
  border-radius: 7px;
}

.textareas label {
  color: var(--formtextcolor);
  font-size: 20px;
  font-weight: 500;
  padding-left: 14px;
}
.textareas textarea {
  background-color: var(--formbgcolor);
  border: none;
  resize: none;
}

.textareas textarea::placeholder {
  color: #bdc6cb;
  margin: 0;
  padding: 0;
}

.textareas textarea:focus {
  background-color: var(--formbgcolor);
  color: #bdc6cb;
  border: none;
  box-shadow: none;
}

.buttons {
  background-color: var(--lightbluetwo);
  color: var(--lightblue);
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: bold;
  /* text-shadow: 2px 0 2px var(--formbgcolor); */
  /* width: 200px; */
}
