/* this is main css for all pages */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* QucikSand*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@400&display=swap");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --bgcolorone: #00173b;
  --bgcolortrwo: #16223d;
  --textblue: #003b94;
  --textgrey: #b4bec8;
  --textlight: #3c4650;
  --lightblue: #007fff;
  --lightbluebg: #75baff;
  --lightbluetwo: #7bafe3;
}

.quicksans {
  font-family: "Quicksand", sans-serif;
}

.navs {
  background-color: var(--bgcolorone);
  /* height: 110px; */
}

.sectionTitle {
  /* width: 300px; */

  color: #000;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.05em;
}

.normalText {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.blues {
  color: var(--textblue);
}

.lightblues {
  color: var(--lightblue);
  text-decoration: underline;
  text-underline-offset: 8px;
}

.createbtn {
  width: 160px;
  height: 60px;
  background: #7bafe3;

  color: var(--lightblue);
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  /* line-height: normal; */

  box-shadow: none;
  border: none;
  border-radius: 30px;
  /* padding: 10px; */
}

/* .copyContainers {
  heighpx;
  /* background-color: red; */

.copyright {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  /* line-height: 12.5; */
  text-align: center;
}

.treeContainer {
  position: relative;
}

.tree {
  width: 10px;
  height: 500px;
  background-color: #ffffff;

  display: block;
  border-radius: 5px 5px 5px 5px;

  /* position: relative; */
}

.leafOne {
  /* background-color: blue; */
  display: inline-flex;
  /* width: 500px; */
  height: 150px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(30px);
  overflow: hidden;

  /* justify-content: center; */
  align-items: center;
}

.leafTwo {
  /* background-color: yellow; */
  display: inline-flex;
  /* width: 500px; */
  height: 150px;

  position: absolute;
  top: 15%;
  right: 50%;
  transform: translateX(-70px);

  /* justify-content: center; */
  align-items: center;
}

.leafThree {
  /* background-color: blue; */
  display: inline-flex;
  /* width: 500px; */
  height: 150px;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(30px);

  /* justify-content: center; */
  align-items: center;
}

.leafFour {
  /* background-color: blue; */
  display: inline-flex;
  /* width: 500px; */
  height: 150px;

  position: absolute;
  top: 65%;
  right: 50%;
  transform: translateX(-70px);

  /* justify-content: center; */
  align-items: center;
}

.branch {
  width: 80px;
  height: 10px;
  background-color: white;

  display: block;
  border-radius: 5px 5px 5px 5px;
}

.branchLeft {
  width: 80px;
  height: 10px;
  background-color: white;

  display: block;
  border-radius: 5px 5px 5px 5px;
  transform: translateX(130px);
}

.leaf {
  width: 50px;
  height: 50px;
  background-color: white;
  color: #000;

  display: block;
  border-radius: 50%;
  transform: translateX(5px);

  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.leafLeft {
  width: 50px;
  height: 50px;
  background-color: white;
  color: #000;

  display: block;
  border-radius: 50%;
  transform: translateX(125px);

  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.leafText {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;

  width: 300px;
  height: 120px;
  overflow: hidden;

  transform: translateX(20px);
}

.left {
  transform: translateX(125px);
}

.webs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.webText {
  font-size: 12px;
  text-align: center;
}

.footers {
  background-color: var(--bgcolorone);
}

.footertitle {
  font-family: Roboto;
  color: white;
  font-size: 30px;
}

.footerText {
  font-size: 20px;
  color: var(--lightbluebg);
  padding: 0;

  display: block;
  padding-bottom: 7px;
}

.footerlogo {
  background-color: var(--lightbluebg);
  padding: 12px;
  border-radius: 5px;
}

.groupContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.groupheader {
  color: var(--textblue);
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
}

.frees {
  background-color: var(--bgcolortrwo);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.freesheader {
  color: var(--lightbluebg);
  font-size: 50px;
}

.freetext {
  color: var(--textgrey);
  font-size: 20px;
  text-align: center;
}

.calendertext {
  color: var(--textlight);
  font-family: "Lato", sans-serif;

  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.cleanderBg {
  background-color: var(--lightbluetwo);
  border-radius: 20px;
}

.cleanderBg p {
  color: var(--textblue);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
}

.datePicker,
.vc-title,
.vc-arrow {
  background-color: var(--bgcolortrwo);
}
